{
  "openapi": "3.0.0",
  "info": {
    "title": "Xata API",
    "description": "Xata API",
    "version": "1.0",
    "contact": {
      "name": "help@xata.io"
    }
  },
  "servers": [
    {
      "url": "https://api.xata.tech",
      "description": "Xata API"
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "Operations for creating, retrieving, updating, and deleting organizations",
      "x-displayName": "Organizations"
    },
    {
      "name": "Users",
      "description": "Operations for managing user accounts and profiles",
      "x-displayName": "Users"
    },
    {
      "name": "API Keys",
      "description": "Operations for managing API keys, including creation, listing, and deletion",
      "x-displayName": "API Keys"
    },
    {
      "name": "Marketplace",
      "description": "Operations for linking user accounts to cloud marketplace subscriptions",
      "x-displayName": "Marketplace"
    },
    {
      "name": "Billing",
      "description": "Internal organization billing operations",
      "x-displayName": "Billing"
    },
    {
      "name": "Gateway",
      "description": "PostgreSQL connectivity via HTTP SQL, WebSocket wire protocol proxy, and native wire protocol.",
      "x-displayName": "Gateway"
    },
    {
      "name": "MCP",
      "description": "Model Context Protocol endpoint.",
      "x-displayName": "MCP"
    },
    {
      "name": "Projects Webhooks",
      "x-displayName": "Projects Webhooks"
    },
    {
      "name": "Projects",
      "description": "Operations for creating, retrieving, updating, and deleting projects within an organization",
      "x-displayName": "Projects"
    },
    {
      "name": "Branches",
      "description": "Operations for managing database branches within projects, including creation, configuration, and deletion",
      "x-displayName": "Branches"
    },
    {
      "name": "GitHub App",
      "description": "Operations for managing GitHub App installation mappings",
      "x-displayName": "GitHub App"
    },
    {
      "name": "Metrics",
      "description": "Operations for retrieving observability metrics for a branch",
      "x-displayName": "Metrics"
    },
    {
      "name": "Logs",
      "description": "Operations for retrieving log entries for a branch",
      "x-displayName": "Logs"
    },
    {
      "name": "Vercel",
      "x-displayName": "Vercel"
    },
    {
      "name": "Vercel Resources",
      "x-displayName": "Vercel Resources"
    },
    {
      "name": "Webhooks",
      "x-displayName": "Webhooks"
    }
  ],
  "externalDocs": {
    "url": "https://xata.io/docs/api"
  },
  "paths": {
    "/organizations": {
      "summary": "Organizations Management",
      "description": "This endpoint enables creating and listing organizations within Xata. Organizations are the top-level entity that contains projects, branches, and team members.",
      "get": {
        "operationId": "getOrganizationsList",
        "summary": "Get list of organizations",
        "description": "Retrieve the list of all organizations the authenticated user belongs to, including their IDs and names. This endpoint allows users to view all organizations they have access to.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organizations": {
                      "description": "List of organizations the user has access to",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Unique identifier for the organization",
                            "$ref": "#/components/schemas/OrganizationID"
                          },
                          "name": {
                            "description": "Human-readable name of the organization",
                            "type": "string"
                          },
                          "status": {
                            "description": "Current status of the organization",
                            "$ref": "#/components/schemas/OrganizationStatus"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "organizations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "read"
      },
      "post": {
        "operationId": "createOrganization",
        "summary": "Create a new organization",
        "description": "Creates a new organization with the authenticated user as its single owner.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}": {
      "summary": "Organization Operations",
      "description": "This endpoint provides operations for a specific organization, allowing retrieval, updating, and deletion of an organization by its unique identifier.",
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization details",
        "description": "Retrieve detailed information about a specific organization by its ID.",
        "responses": {
          "200": {
            "description": "Organization details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "read"
      },
      "put": {
        "operationId": "updateOrganization",
        "summary": "Update organization details",
        "description": "Update information for an existing organization, such as its name.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "description": "Unique identifier for the organization to update",
                    "$ref": "#/components/schemas/OrganizationID"
                  },
                  "name": {
                    "description": "New name for the organization",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "write"
      },
      "delete": {
        "operationId": "deleteOrganization",
        "summary": "Delete an organization",
        "description": "[Not implemented yet] Permanently delete an organization. This action cannot be undone.",
        "responses": {
          "204": {
            "description": "Organization successfully deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "destructive"
      }
    },
    "/organizations/{organizationID}/api-keys": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "get": {
        "operationId": "listOrganizationAPIKeys",
        "summary": "List API Keys for an organization",
        "description": "Retrieve a list of API keys for a specific organization.",
        "responses": {
          "200": {
            "description": "List of API keys retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "description": "Array of API keys for the organization",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/APIKeyPreview"
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "keys:read"
            ]
          }
        ],
        "tags": [
          "API Keys"
        ],
        "x-operation-kind": "read"
      },
      "post": {
        "operationId": "createOrganizationAPIKey",
        "summary": "Create an Organization API Key",
        "description": "Create a new API key for an organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API Key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "$ref": "#/components/schemas/FullAPIKey"
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "API key limit reached or invalid request"
          }
        },
        "security": [
          {
            "xata": [
              "keys:write"
            ]
          }
        ],
        "tags": [
          "API Keys"
        ],
        "x-operation-kind": "write"
      },
      "delete": {
        "operationId": "deleteOrganizationAPIKeys",
        "summary": "Bulk delete API Keys for an organization",
        "description": "Delete multiple API keys in a single request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "Array of API key IDs to delete",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 50
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "API Keys deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          }
        },
        "security": [
          {
            "xata": [
              "keys:write"
            ]
          }
        ],
        "tags": [
          "API Keys"
        ],
        "x-operation-kind": "destructive"
      }
    },
    "/organizations/{organizationID}/members": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "get": {
        "operationId": "listOrganizationMembers",
        "summary": "List members of an organization",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationMember"
                      }
                    }
                  },
                  "required": [
                    "members"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "read"
      }
    },
    "/organizations/{organizationID}/members/{userID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        },
        {
          "$ref": "#/components/parameters/UserIDParam"
        }
      ],
      "delete": {
        "operationId": "removeOrganizationMember",
        "summary": "Remove a member from an organization",
        "responses": {
          "204": {
            "description": "Member removed"
          },
          "400": {
            "$ref": "#/components/responses/SimpleError"
          },
          "409": {
            "$ref": "#/components/responses/SimpleError"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "destructive"
      }
    },
    "/organizations/{organizationID}/roles": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "get": {
        "operationId": "listOrganizationRoles",
        "summary": "List the roles assignable in an organization",
        "description": "Roles are predefined. Every member of an organization holds exactly one.",
        "responses": {
          "200": {
            "description": "List of assignable roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "roles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationRole"
                      }
                    }
                  },
                  "required": [
                    "roles"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "role:read"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-excluded": true,
        "x-internal": true,
        "x-operation-kind": "read"
      }
    },
    "/organizations/{organizationID}/members/{userID}/role": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        },
        {
          "$ref": "#/components/parameters/UserIDParam"
        }
      ],
      "put": {
        "operationId": "setOrganizationMemberRole",
        "summary": "Set the role of an organization member",
        "description": "Replaces the member's current role. An organization always retains at least one Admin.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetOrganizationMemberRoleRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Role updated"
          },
          "400": {
            "$ref": "#/components/responses/SimpleError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "409": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "role:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-excluded": true,
        "x-internal": true,
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/invitations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "get": {
        "operationId": "listOrganizationInvitations",
        "summary": "List invitations for an organization",
        "description": "Retrieve all invitations for an organization with optional filtering by status, email, and name.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter invitations by status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "expired"
              ]
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter invitations by email address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "Filter invitations by first name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Filter invitations by last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search invitations by email or name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "Index of the first result to return (0-based offset for pagination)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of invitations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invitations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationInvitation"
                      }
                    }
                  },
                  "required": [
                    "invitations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "invite:read"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "read"
      },
      "post": {
        "operationId": "createOrganizationInvitation",
        "summary": "Send an invitation to join an organization",
        "description": "Send an invitation email to a user to join an organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation sent successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "409": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "invite:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/invitations/{invitationID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        },
        {
          "$ref": "#/components/parameters/InvitationIDParam"
        }
      ],
      "get": {
        "operationId": "getOrganizationInvitation",
        "summary": "Get details of a specific invitation",
        "description": "Retrieve detailed information about a specific invitation by its ID.",
        "responses": {
          "200": {
            "description": "Invitation details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInvitation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "invite:read"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "read"
      },
      "delete": {
        "operationId": "deleteOrganizationInvitation",
        "summary": "Delete an invitation",
        "description": "Permanently delete an invitation record.",
        "responses": {
          "204": {
            "description": "Invitation deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "invite:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "destructive"
      }
    },
    "/organizations/{organizationID}/invitations/{invitationID}/resend": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        },
        {
          "$ref": "#/components/parameters/InvitationIDParam"
        }
      ],
      "post": {
        "operationId": "resendOrganizationInvitation",
        "summary": "Resend an invitation",
        "description": "Resend a pending invitation with a fresh expiration time.",
        "responses": {
          "204": {
            "description": "Invitation resent successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "invite:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/deletion-request": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "post": {
        "operationId": "requestOrganizationDeletion",
        "summary": "Request organization deletion",
        "description": "Flags the organization for deletion. The request is rejected if the organization still has active projects.\nThe subscription is cancelled immediately and any outstanding invoices are collected automatically after a grace period that prevents missing delayed usage reports.\nDeletion completes asynchronously once all invoices are issued and settled.\n",
        "responses": {
          "202": {
            "description": "Deletion requested — the organization will be removed once all outstanding invoices are settled"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "409": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "destructive"
      }
    },
    "/organizations/{organizationID}/membership-limits": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "get": {
        "operationId": "getOrganizationMembershipLimits",
        "summary": "Get organization membership limits",
        "description": "Retrieves the membership limits for the specified organization (maximum members and invitations).",
        "responses": {
          "200": {
            "description": "Membership limits for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembershipLimits"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-operation-kind": "read"
      }
    },
    "/organizations/{organizationID}/sso": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "get": {
        "operationId": "getOrganizationSSO",
        "summary": "Get the organization's SSO configuration",
        "description": "Lists the organization's identity providers and the email domains claimed for them. An organization signs in\nthrough one provider per verified domain, so both are collections. Client secrets are write-only and are never\nreturned. An organization that has not set anything up yet responds 200 with empty lists, so 404 means only\nthat the feature is unavailable.\n",
        "responses": {
          "200": {
            "description": "SSO configuration for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSSO"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-excluded": true,
        "x-internal": true,
        "x-operation-kind": "read"
      }
    },
    "/organizations/{organizationID}/sso/domains": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "post": {
        "operationId": "claimOrganizationSSODomain",
        "summary": "Claim an email domain for SSO",
        "description": "Claims an email domain and returns the DNS record that proves control of it. A claim is only a note to\nourselves: nothing is registered against the domain until verification succeeds, so claiming a domain neither\naffects anyone's sign-in nor stops another organization claiming it first.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimOrganizationSSODomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain claimed, pending verification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSSODomain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-excluded": true,
        "x-internal": true,
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/sso/domains/{domain}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        },
        {
          "$ref": "#/components/parameters/SSODomainParam"
        }
      ],
      "delete": {
        "operationId": "deleteOrganizationSSODomain",
        "summary": "Release a claimed or verified domain",
        "description": "Drops a pending claim, or releases a verified domain so members on it sign in however they could before.\nRefused with a 409 while a provider is still bound to the domain, since releasing it underneath one would\nleave a provider nobody can reach; remove the provider first. Idempotent.\n",
        "responses": {
          "204": {
            "description": "Domain released"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "409": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-excluded": true,
        "x-internal": true,
        "x-operation-kind": "destructive"
      }
    },
    "/organizations/{organizationID}/sso/domains/{domain}/verify": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        },
        {
          "$ref": "#/components/parameters/SSODomainParam"
        }
      ],
      "post": {
        "operationId": "verifyOrganizationSSODomain",
        "summary": "Check the DNS record for a claimed domain",
        "description": "Looks up the challenge TXT record. Verification is a poll, not a command: a missing or stale record is reported\nas `verified: false` on a 200 rather than as an error, so a client can retry while DNS propagates. Verifying\nproves the organization controls the domain and nothing more; it does not change how anyone signs in.\n",
        "responses": {
          "200": {
            "description": "Current state of the domain after checking DNS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSSODomain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "409": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-excluded": true,
        "x-internal": true,
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/sso/providers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "post": {
        "operationId": "createOrganizationSSOProvider",
        "summary": "Register an identity provider for a verified domain",
        "description": "Registers an identity provider for one verified domain. `google` needs only the credentials and pins the login\nto that Google Workspace domain; `oidc` is the fallback for any other provider and discovers its endpoints from\nthe issuer's `/.well-known/openid-configuration`. The domain must already be verified, and registering does not\nredirect anyone on its own: that is enabled separately.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationSSOProviderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Identity provider registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSSOProvider"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "409": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-excluded": true,
        "x-internal": true,
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/sso/providers/{providerAlias}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        },
        {
          "$ref": "#/components/parameters/SSOProviderAliasParam"
        }
      ],
      "put": {
        "operationId": "updateOrganizationSSOProvider",
        "summary": "Update an identity provider's credentials",
        "description": "Replaces the provider's credentials, and for `oidc` re-discovers its endpoints from the issuer. The domain it\nserves and whether it is enforced are carried across unchanged, so rotating a client secret does not quietly\nturn enforcement off.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationSSOProviderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity provider updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSSOProvider"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-excluded": true,
        "x-internal": true,
        "x-operation-kind": "write"
      },
      "delete": {
        "operationId": "deleteOrganizationSSOProvider",
        "summary": "Remove an identity provider",
        "description": "Deletes the provider, so members on its domain fall back to the sign-in methods they had before. The domain\nstays verified and can be given another provider. Idempotent.\n",
        "responses": {
          "204": {
            "description": "Identity provider removed"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-excluded": true,
        "x-internal": true,
        "x-operation-kind": "destructive"
      }
    },
    "/organizations/{organizationID}/sso/providers/{providerAlias}/enforcement": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        },
        {
          "$ref": "#/components/parameters/SSOProviderAliasParam"
        }
      ],
      "put": {
        "operationId": "setOrganizationSSOProviderEnforcement",
        "summary": "Require members on this provider's domain to sign in through it",
        "description": "Enabling sends every address on the provider's domain to it, leaving those members no other way in. Refused\nwith a 409 until the domain is verified. Disabling needs nothing, so the way out is always open.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationSSOEnforcement"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity provider after the change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSSOProvider"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "409": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Organizations"
        ],
        "x-excluded": true,
        "x-internal": true,
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/billing/checkout-session": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "post": {
        "operationId": "createBillingCheckoutSession",
        "summary": "Create a billing checkout session",
        "description": "Creates a Stripe checkout session used to activate card billing for an organization.",
        "responses": {
          "200": {
            "description": "Billing checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCheckoutSessionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Billing"
        ],
        "x-excluded": true,
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/billing/payment-method-session": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "post": {
        "operationId": "createBillingPaymentMethodSession",
        "summary": "Create a billing payment method session",
        "description": "Creates a Stripe setup-mode checkout session used to add or update an organization payment method.",
        "responses": {
          "200": {
            "description": "Billing payment method session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPaymentMethodSessionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Billing"
        ],
        "x-excluded": true,
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/billing/customer": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "get": {
        "operationId": "getBillingCustomer",
        "summary": "Get billing customer details",
        "description": "Retrieves billing customer details for the specified organization.",
        "responses": {
          "200": {
            "description": "Billing customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCustomerResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Billing"
        ],
        "x-excluded": true,
        "x-operation-kind": "read"
      },
      "patch": {
        "operationId": "updateBillingCustomer",
        "summary": "Update billing customer details",
        "description": "Updates billing customer details for the specified organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCustomerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:write"
            ]
          }
        ],
        "tags": [
          "Billing"
        ],
        "x-excluded": true,
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/billing/invoices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "get": {
        "operationId": "getBillingInvoices",
        "summary": "List billing invoices",
        "description": "Retrieves billing invoices for the specified organization.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from a previous response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of invoices to fetch",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billing invoices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingInvoicesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Billing"
        ],
        "x-excluded": true,
        "x-operation-kind": "read"
      }
    },
    "/organizations/{organizationID}/billing/invoices/upcoming": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrganizationIDParam"
        }
      ],
      "get": {
        "operationId": "getBillingUpcomingInvoice",
        "summary": "Get upcoming billing invoice",
        "description": "Retrieves the upcoming billing invoice for the specified organization's active subscription. Organizations are expected to have at most one active subscription.",
        "responses": {
          "200": {
            "description": "Upcoming billing invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingUpcomingInvoiceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Billing"
        ],
        "x-excluded": true,
        "x-operation-kind": "read"
      }
    },
    "/marketplace/register": {
      "post": {
        "operationId": "registerMarketplace",
        "summary": "Register with a cloud marketplace",
        "description": "Links the authenticated user to a cloud marketplace subscription. Only one marketplace registration is allowed per user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketplaceRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Marketplace registration successful"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "409": {
            "$ref": "#/components/responses/SimpleError"
          },
          "502": {
            "description": "Marketplace registration provider failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "xata": [
              "marketplace:write"
            ]
          }
        ],
        "tags": [
          "Marketplace"
        ],
        "x-excluded": true,
        "x-operation-kind": "write"
      }
    },
    "/api-keys": {
      "get": {
        "operationId": "listUserAPIKeys",
        "summary": "List API Keys for the authenticated user",
        "description": "Retrieve a list of API keys for the authenticated user.",
        "responses": {
          "200": {
            "description": "List of API keys retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "description": "Array of API keys for the user",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/APIKeyPreview"
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "keys:read"
            ]
          }
        ],
        "tags": [
          "API Keys"
        ],
        "x-operation-kind": "read"
      },
      "post": {
        "operationId": "createUserAPIKey",
        "summary": "Create a User API Key",
        "description": "Create a new API key for the authenticated user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API Key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "$ref": "#/components/schemas/FullAPIKey"
                    }
                  },
                  "required": [
                    "key"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "keys:write"
            ]
          }
        ],
        "tags": [
          "API Keys"
        ],
        "x-operation-kind": "write"
      },
      "delete": {
        "operationId": "deleteUserAPIKeys",
        "summary": "Bulk delete API Keys for the authenticated user",
        "description": "Delete multiple API keys in a single request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "Array of API key IDs to delete (maximum 50 keys per request)",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 50
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "API Keys deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/SimpleError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "keys:write"
            ]
          }
        ],
        "tags": [
          "API Keys"
        ],
        "x-operation-kind": "destructive"
      }
    },
    "/sql": {
      "servers": [
        {
          "url": "https://{branch}.{region}.xata.tech",
          "description": "Xata Gateway. The hostname encodes the target branch and region.",
          "variables": {
            "branch": {
              "default": "my-branch",
              "description": "Branch ID. Use the branch `id`, NOT its human-readable name"
            },
            "region": {
              "default": "us-east-1",
              "description": "Branch region. The `us-east-1` default is a placeholder and may not be the region of your database."
            }
          }
        }
      ],
      "post": {
        "operationId": "query",
        "summary": "Execute SQL query",
        "description": "Execute a single SQL query or a batch of queries against a PostgreSQL branch.\n\n**Authentication:** send the branch's PostgreSQL connection string in the\n`Connection-String` header. The control-plane API key (Bearer token) is\n**not** accepted on the gateway host.\n\n**Routing:** the target branch, region, and endpoint type are taken from the\nhostname embedded in the connection string, which must match the request host.\nSee the `Connection-String` security scheme for the host format.\n\n**Single query:** provide `query` (and optional `params`) at the top level.\n\n**Batch:** provide `queries` as an array of query objects, or send the request body\nas a JSON array. Batch queries execute within a single transaction.\n",
        "parameters": [
          {
            "name": "Array-Mode",
            "in": "header",
            "description": "When `true`, return rows as arrays instead of objects.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "Raw-Text-Output",
            "in": "header",
            "description": "When `true`, return all values as strings without type conversion.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "Batch-Isolation-Level",
            "in": "header",
            "description": "Transaction isolation level for batch queries.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ReadCommitted",
                "ReadUncommitted",
                "RepeatableRead",
                "Serializable"
              ]
            }
          },
          {
            "name": "Batch-Read-Only",
            "in": "header",
            "description": "When `true`, execute the batch transaction in read-only mode.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "Batch-Deferrable",
            "in": "header",
            "description": "When `true`, execute the batch transaction in deferrable mode.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SQLRequest"
              },
              "examples": {
                "single": {
                  "summary": "Single parameterized query",
                  "value": {
                    "query": "SELECT id, name FROM users WHERE id = $1",
                    "params": [
                      42
                    ]
                  }
                },
                "batch": {
                  "summary": "Batch of queries in one transaction",
                  "value": {
                    "queries": [
                      {
                        "query": "INSERT INTO logs (message) VALUES ($1)",
                        "params": [
                          "hello"
                        ]
                      },
                      {
                        "query": "SELECT count(*) FROM logs"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/QueryResult"
                    },
                    {
                      "$ref": "#/components/schemas/BatchResponse"
                    }
                  ]
                },
                "examples": {
                  "single": {
                    "summary": "Result of the single query above",
                    "value": {
                      "fields": [
                        {
                          "name": "id",
                          "tableID": 0,
                          "columnID": 0,
                          "dataTypeID": 23,
                          "dataTypeSize": 4,
                          "dataTypeModifier": -1,
                          "format": "text"
                        },
                        {
                          "name": "name",
                          "tableID": 0,
                          "columnID": 0,
                          "dataTypeID": 25,
                          "dataTypeSize": -1,
                          "dataTypeModifier": -1,
                          "format": "text"
                        }
                      ],
                      "command": "SELECT",
                      "rowCount": 1,
                      "rows": [
                        {
                          "id": 42,
                          "name": "Ada"
                        }
                      ],
                      "rowAsArray": false
                    }
                  },
                  "batch": {
                    "summary": "Result of the batch above, one entry per query",
                    "value": {
                      "results": [
                        {
                          "command": "INSERT",
                          "fields": [],
                          "rowCount": 1,
                          "rows": [],
                          "rowAsArray": false
                        },
                        {
                          "command": "SELECT",
                          "fields": [
                            {
                              "name": "count",
                              "tableID": 0,
                              "columnID": 0,
                              "dataTypeID": 20,
                              "dataTypeSize": 8,
                              "dataTypeModifier": -1,
                              "format": "text"
                            }
                          ],
                          "rowCount": 1,
                          "rows": [
                            {
                              "count": "1"
                            }
                          ],
                          "rowAsArray": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, SQL error, query execution timeout, or a result larger than the 10MB response limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid connection string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Client IP is not allowed by the branch IP filter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Branch not found, it may have been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Branch is hibernated, reactivate it before running queries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body is larger than 64MB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "Timed out connecting to the database",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "branchConnectionString": []
          }
        ],
        "tags": [
          "Gateway"
        ],
        "x-operation-kind": "destructive"
      }
    },
    "/v2": {
      "servers": [
        {
          "url": "https://{branch}.{region}.xata.tech",
          "description": "Xata Gateway. The hostname encodes the target branch and region.",
          "variables": {
            "branch": {
              "default": "my-branch",
              "description": "Branch ID. Use the branch `id`, NOT its human-readable name"
            },
            "region": {
              "default": "us-east-1",
              "description": "Branch region. The `us-east-1` default is a placeholder and may not be the region of your database."
            }
          }
        }
      ],
      "get": {
        "operationId": "websocket",
        "summary": "WebSocket wire protocol proxy",
        "description": "Upgrade to a WebSocket connection that proxies the PostgreSQL wire protocol.\nThe client sends and receives PostgreSQL protocol messages over binary WebSocket frames.\n\n**Authentication:** the same branch connection string credential as the\nHTTP SQL endpoint is used, but it is supplied via the PostgreSQL startup\nmessage inside the wire protocol rather than an HTTP header. The\ncontrol-plane API key (Bearer token) is not accepted.\n",
        "responses": {
          "101": {
            "description": "Switching Protocols — WebSocket connection established"
          },
          "400": {
            "description": "Bad request — unable to upgrade connection"
          }
        },
        "tags": [
          "Gateway"
        ],
        "x-operation-kind": "read"
      }
    },
    "/mcp": {
      "post": {
        "operationId": "sendMcpRequest",
        "summary": "Send an MCP message",
        "description": "Handle a single JSON-RPC 2.0 message from an MCP client, per the MCP\n[Streamable HTTP transport](https://modelcontextprotocol.io/specification/2025-06-18/basic/transports).\n\nThe server is stateless: every request is self-contained and carries the caller's\ncredential, so there is no session to establish or resume. `GET` and `DELETE` on this\npath return `405 Method Not Allowed`.\n\n**Requests** (messages with an `id`) are answered with the JSON-RPC response, either as\n`application/json` or as a `text/event-stream` carrying the response and any notifications\nemitted while it runs. Requests must accept both. **Notifications and responses**\n(messages without an `id`) are answered with `202 Accepted` and an empty body.\n",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Must list both `application/json` and `text/event-stream`.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json, text/event-stream"
            }
          },
          {
            "name": "MCP-Protocol-Version",
            "in": "header",
            "description": "Protocol revision negotiated during `initialize`, echoed on every subsequent request.\nOmitted on the `initialize` request itself.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2025-06-18"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JSONRPCMessage"
              },
              "examples": {
                "initialize": {
                  "summary": "Start a session and learn the server's capabilities",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "initialize",
                    "params": {
                      "protocolVersion": "2025-06-18",
                      "capabilities": {},
                      "clientInfo": {
                        "name": "my-client",
                        "version": "1.0.0"
                      }
                    }
                  }
                },
                "toolsList": {
                  "summary": "List the available tools",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/list"
                  }
                },
                "toolsCall": {
                  "summary": "Call a tool",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 3,
                    "method": "tools/call",
                    "params": {
                      "name": "search_operations",
                      "arguments": {
                        "query": "list branches"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JSONRPCResponse"
                },
                "examples": {
                  "toolsCall": {
                    "summary": "Result of the tool call above",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 3,
                      "result": {
                        "content": [
                          {
                            "text": "{\"operations\":[{\"operationID\":\"listBranches\",\"method\":\"GET\",\"path\":\"/organizations/{organizationID}/projects/{projectID}/branches\",\"summary\":\"List all branches\",\"callTool\":\"call_read_operation\"}]}",
                            "type": "text"
                          }
                        ],
                        "isError": false
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "description": "Server-sent events, each `data` field holding one JSON-RPC message.",
                  "type": "string"
                },
                "example": "event: message\ndata: {\"jsonrpc\":\"2.0\",\"id\":3,\"result\":{\"content\":[{\"type\":\"text\",\"text\":\"{\\\"operations\\\":[{\\\"operationID\\\":\\\"listBranches\\\",\\\"method\\\":\\\"GET\\\",\\\"path\\\":\\\"/organizations/{organizationID}/projects/{projectID}/branches\\\",\\\"summary\\\":\\\"List all branches\\\",\\\"callTool\\\":\\\"call_read_operation\\\"}]}\"}],\"isError\":false}}\n"
              }
            }
          },
          "202": {
            "description": "Notification or response accepted; no body is returned"
          },
          "400": {
            "description": "Malformed message, unsupported `MCP-Protocol-Version`, or an `Accept` header missing one of the required media types"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge pointing at the protected resource metadata, per RFC 9728.",
                "schema": {
                  "type": "string",
                  "example": "Bearer resource_metadata=\"https://api.xata.tech/.well-known/oauth-protected-resource/mcp\""
                }
              }
            }
          },
          "413": {
            "description": "Request body larger than 4 MiB"
          },
          "415": {
            "description": "`Content-Type` is not `application/json`"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oidc": []
          }
        ],
        "tags": [
          "MCP"
        ],
        "x-operation-kind": "write"
      }
    },
    "/webhooks/github": {
      "post": {
        "operationId": "githubWebhook",
        "summary": "GitHub App webhook",
        "description": "Endpoint used by GitHub to deliver App webhook events.\nThis endpoint is authenticated via GitHub's HMAC-SHA256 signature header,\nnot via the normal API authentication.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "GitHub webhook event payload",
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received and processed successfully"
          },
          "400": {
            "description": "Invalid signature or malformed request"
          },
          "500": {
            "description": "Internal error while handling the webhook"
          }
        },
        "tags": [
          "Projects Webhooks"
        ],
        "x-excluded": true,
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/regions": {
      "summary": "Region Operations",
      "description": "Endpoints for retrieving available regions for deploying projects within an organization.",
      "get": {
        "operationId": "listRegions",
        "summary": "Get available regions",
        "description": "Retrieves a list of all regions where new branches can be deployed for the specified organization.",
        "parameters": [
          {
            "name": "organizationID",
            "in": "path",
            "description": "Unique identifier of the organization to check region availability for",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of regions available for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "description": "Array of available regions with their properties",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Unique identifier for the region",
                            "type": "string"
                          },
                          "publicAccess": {
                            "description": "Whether data plane is public-facing to the internet in this region",
                            "type": "boolean"
                          },
                          "backupsEnabled": {
                            "description": "Whether backups are enabled for branches created in this region",
                            "type": "boolean"
                          },
                          "provider": {
                            "description": "Cloud provider the region runs on",
                            "type": "string",
                            "enum": [
                              "aws",
                              "gcp",
                              "custom"
                            ]
                          },
                          "organizationId": {
                            "description": "Organization that owns this region, if set the region is only available to this organization",
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "publicAccess",
                          "backupsEnabled",
                          "provider",
                          "organizationId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "regions"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/GenericError"
          },
          "401": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "5XX": {
            "description": "Unexpected Error"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "project:read"
            ]
          }
        ],
        "tags": [
          "Projects"
        ],
        "x-operation-kind": "read"
      }
    },
    "/organizations/{organizationID}/instanceTypes": {
      "summary": "Instance Types Operations",
      "description": "Endpoints for retrieving available instance types for creating branches within an organization.",
      "get": {
        "operationId": "listInstanceTypes",
        "summary": "Get available instance types",
        "description": "Retrieves a list of all instance types for the specified organization and region",
        "parameters": [
          {
            "name": "organizationID",
            "in": "path",
            "description": "Unique identifier of the organization to check instance type availability for",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationID"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region to check instance type availability for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of instance types available for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instanceTypes": {
                      "description": "Array of available instance types with their properties",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "description": "Instance type name",
                            "type": "string"
                          },
                          "vcpus": {
                            "description": "number of vCPUs",
                            "type": "integer"
                          },
                          "ram": {
                            "description": "memory in Gi",
                            "type": "integer"
                          },
                          "hourlyRate": {
                            "description": "price per hour for this instance type and region",
                            "type": "number",
                            "format": "double"
                          },
                          "storageMonthlyRate": {
                            "description": "price per month for a GB of storage for this region",
                            "type": "number",
                            "format": "double"
                          },
                          "region": {
                            "description": "region where this instance type is available",
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "vcpus",
                          "ram",
                          "hourlyRate",
                          "region",
                          "storageMonthlyRate"
                        ]
                      }
                    }
                  },
                  "required": [
                    "instanceTypes"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/GenericError"
          },
          "401": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "5XX": {
            "description": "Unexpected Error"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Projects"
        ],
        "x-operation-kind": "read"
      }
    },
    "/organizations/{organizationID}/images": {
      "summary": "Images Operations",
      "description": "Endpoints for retrieving available images for creating branches within an organization.",
      "get": {
        "operationId": "listImages",
        "summary": "Get available images",
        "description": "Retrieves a list of all images for the specified organization and region",
        "parameters": [
          {
            "name": "organizationID",
            "in": "path",
            "description": "Unique identifier of the organization to check image availability",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationID"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region to check image availability for organization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of images available for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": {
                      "description": "Array of available images with their properties",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Image"
                      }
                    }
                  },
                  "required": [
                    "images"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/GenericError"
          },
          "401": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "5XX": {
            "description": "Unexpected Error"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Projects"
        ],
        "x-operation-kind": "read"
      }
    },
    "/organizations/{organizationID}/extensions": {
      "summary": "Extensions Operations",
      "description": "Endpoints for retrieving available extensions of images used for creating branches within an organization.",
      "get": {
        "operationId": "listExtensions",
        "summary": "Get available extensions for image",
        "description": "Retrieves a list of all extensions for the specified image in the organization and region given",
        "parameters": [
          {
            "name": "organizationID",
            "in": "path",
            "description": "Unique identifier of the organization to check instance type availability for",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationID"
            }
          },
          {
            "name": "image",
            "in": "query",
            "description": "Image for which we list extensions",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region to list extensions for image in",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of extensions available for the image in the organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "extensions": {
                      "description": "Array of available images with their properties",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Extension"
                      }
                    }
                  },
                  "required": [
                    "extensions"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/GenericError"
          },
          "401": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "5XX": {
            "description": "Unexpected Error"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Projects"
        ],
        "x-excluded": true,
        "x-internal": true,
        "x-operation-kind": "read"
      }
    },
    "/organizations/{organizationID}/limits": {
      "summary": "Organization Limits",
      "description": "Endpoint for retrieving the effective resource limits for an organization. Call this before creating a project or branch to know what constraints apply.",
      "get": {
        "operationId": "getOrganizationLimits",
        "summary": "Get organization resource limits",
        "description": "Retrieves the effective org-level limits, including project creation limits and branch configuration defaults. Project-specific overrides are not applied here.",
        "parameters": [
          {
            "name": "organizationID",
            "in": "path",
            "description": "Unique identifier of the organization",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Effective resource limits for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationLimits"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "5XX": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "org:read"
            ]
          }
        ],
        "tags": [
          "Projects"
        ],
        "x-operation-kind": "read"
      }
    },
    "/organizations/{organizationID}/projects": {
      "summary": "Projects Management",
      "description": "Endpoints for listing and creating projects within an organization.",
      "get": {
        "operationId": "listProjects",
        "summary": "List all projects",
        "description": "Retrieves a list of all projects within the specified organization that the authenticated user has access to.",
        "parameters": [
          {
            "name": "organizationID",
            "in": "path",
            "description": "Unique identifier of the organization to list projects from",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of projects within the organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "description": "Array of project objects with their metadata",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  },
                  "required": [
                    "projects"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/GenericError"
          },
          "401": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "5XX": {
            "description": "Unexpected Error"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "project:read"
            ]
          }
        ],
        "tags": [
          "Projects"
        ],
        "x-operation-kind": "read"
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a new project",
        "description": "Creates a new project within the specified organization. Projects are containers for database branches and resources.",
        "parameters": [
          {
            "name": "organizationID",
            "in": "path",
            "description": "Unique identifier of the organization to create the project in",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Human-readable name for the new project",
                    "type": "string"
                  },
                  "configuration": {
                    "$ref": "#/components/schemas/ProjectConfiguration"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/GenericError"
          },
          "401": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "5XX": {
            "description": "Unexpected Error"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "xata": [
              "project:write"
            ]
          }
        ],
        "tags": [
          "Projects"
        ],
        "x-operation-kind": "write"
      }
    },
    "/organizations/{organizationID}/projects/{projectID}": {
      "summary": "Project Operations",
      "description": "Endpoints for retrieving, updating, and deleting a specific project by ID.",
      "get": {
        "operationId": "getProject",
        "summary": "Get project details",
        "description": "Retrieves detailed information about a specific project by its ID within the specified organization.",
        "parameters": [
          {
            "name": "organizationID",
            "in": "path",
[...]
